@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: #000 !important;
}
.nav-link {
    color: #fff !important;
}

#logo {
    float:left;
    font-size:1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
.jumbotron {
    background-image: asset-url('jumbo_back.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
}


html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */

body {
  background: #e1e8f0;
}
